html {
    text-align: center;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  font-family: sans-serif;
  margin: 20px;
  background: #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 5rem
}

